*{
    margin: 0;
    padding: 0;
}

.card-text{
    color: black;
    font-weight: 700;
}

.card-title{
    font-weight: 900;
}

svg{
    width: 30px;
}

.icon-cart{
    position: relative;
    right: 20px;
}

.icon-cart a{
    padding: 10px 10px 15px;
}

.icon-cart a:visited{
    color: black;
}

.icon-cart span{
    position: absolute;
    max-width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: -15%;
    right: 0;
}

