<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-5 col-lg-6">
                <ul class="list-group" id="item-list">

                </ul>
            </div>


            <div class="col-md-5 col-lg-6">
                <h4 class="mb-3">Billing address</h4>
                <form method="post" class="needs-validation" novalidate="">
                    {% csrf_token %}
                    <input type="hidden" name="items" id="items">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder=""
                                value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder=""
                                value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address"
                                placeholder="1234 Main St" required="">
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" id="country" name="country" required="">
                                <option value="">Choose...</option>
                                <option>India</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="state" class="form-label">State</label>
                            <select class="form-select" id="state" name="state" required="">
                                <option value="">Choose...</option>
                                <option>Uttar Pradesh</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder=""
                                required="">
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">Payable Amount</label>
                            <input readonly="" type="text" class="form-control" id="total" name="total">
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Place Order</button>
                </form>
            </div>

        </div>
    </div>
</body>

<script type="text/javascript">
    let cart = JSON.parse(localStorage.getItem('cart'))
    let total_price = 0
    for (let item in cart) {
        if (item != 'nr_items') {
            let name = cart[item][1]
            let quantity = cart[item][0]
            let price = cart[item][2]
            let sub_total = price * quantity
            total_price += sub_total
            itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${name}
                        <span class="badge bg-primary rounded-pill">${quantity}</span>
                        <span class="badge bg-warning rounded-pill">Rs. ${sub_total}</span>
                    </li>`
            $('#item-list').append(itemString)
        }
    }
    let totalPriceString = `<li class="list-group-item d-flex justify-content-between align-items-center"><b>Your Total</b>Rs. ${total_price}</li>`
    $('#total').val(total_price)
    $('#item-list').append(totalPriceString)
    $('#items').val(JSON.stringify(cart))
</script>

</html>