{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forsale</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static 'shop/style.css' %}>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="icon-cart">
                        <a href={% url "cartCheckOut" %}>
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
                            </svg>
                        </a>
                        <span id="nr_cart_items" class="badge bg-primary rounded-pill">0</span>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gytters align-items-center">
                        <div class="col">
                            <input class="form-control" type="search" name="item_name"
                                placeholder="Search for Products">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src={{product.image}} alt="" class="card-img-top">
                    <div class="card-body">
                        <div id="prod-name-{{product.id}}" class="card-title">{{product.title}}</div>
                        <div class="card-text">
                            Rs. {{product.price}}
                        </div>

                        <a href={% url 'detail' product.id %} class="btn btn-info">View</a>
                        <button id={{product.id}} class="btn btn-warning atc">Add to Cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{product_objects.previous_page_number}}">Prev</a>
                    </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{product_objects.number}}">Current</a>
                    </li>


                    {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{product_objects.next_page_number}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        
        if (localStorage.getItem('cart') == null) {
            var cart = {
                'nr_items': 0
            };
        }
        else {
            var cart = JSON.parse(localStorage.getItem('cart'));
            document.getElementById('nr_cart_items').innerHTML = cart['nr_items']
        }
        $('.atc').on('click', (event) => {
            item_id = event.target.id.toString();
            if (cart[item_id] != undefined) {
                cart[item_id][0] += 1;
            }
            else {
                cart[item_id] = [1, document.getElementById("prod-name-"+item_id).innerHTML];
            }
            cart['nr_items'] += 1
            localStorage.setItem('cart', JSON.stringify(cart));

            document.getElementById('nr_cart_items').innerHTML = cart['nr_items']
            
        });

    </script>

</body>

</html>